body {
    margin: 0;
    font-family: "Arial Narrow", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #201e1e;
    }

header {
    font-size: 1.2em;
    font-weight: bold;
    margin: 6em 1em 1em 1em;
    width: max(40vw, 300px);
}

form {
    height: max(300px, 35vh);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1em;
    margin: 1em 0;
    font-size: 0.8em;
    position: relative;

}

button {
    padding: 0.3em;
    border-radius: 5px;
    background-color: #597083;
    color: white;
}

h1 {
    margin-left: 0.7em;
}

a {
    color: #597083
}


/***Classes***/
.content {
    margin: 0 10vw;
    display: flex;
}

.logo {
   width: max(30vw, 200px);
    background-image: url("nature.jpg"); /*photo by Francesco Ungaro*/
    background-size: cover;
    flex: 1 0 auto;
}

.copyright {
    align-self: end;
}

.main {
    width: max(50vw, 600px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: max(100vh, 700px);
}

.bttn {
    padding: 1em 2em;
    margin: 1em 0 0 1em;
}

.row {
    display: flex;
    gap: 6em;
    margin: 1em;
}

.redirect {
    margin: 1em;
}

@media screen and (max-width: 500px) {

    header {
        margin: 2em 1em 1em 1em;
    }

    .content {
        flex-direction: column;
        margin: 0;
        position: relative;
    }
    .logo  {
        height: 200px;
        width: 100vw;
        position: sticky;
    }

    .logo a {
        color: #fff;
    }
}

@media screen and (min-width: 401px) and (max-width: 1000px) {
    .content {
        margin: 0;
    }
}
