@font-face {
    font-family: norse-bold;
    src: url(/fonts/Norse-Bold.otf);
  }

body {
    margin: 0;
    font-family: "Arial Narrow", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #201e1e;
    }

header {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 6rem 1rem 1rem 1rem;
    width: max(40vw, 300px);
}

form {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    margin: 1rem 0;
    font-size: 0.8rem;

}

button {
    padding: 0.3rem;
    border-radius: 5px;
    background-color: #597083;
    color: white;
}

h1 {
    margin-left: 0.7rem;
}

a {
    color: #597083
}

img {
    max-width: 100px;
    height: auto;
    
}

input {
    border-radius: 4px;
}

input:focus {
    background: rgba(89,112,131,0.2);
    border: 3px solid blue;
    box-shadow: 0 4px 8px 0 rgba(0,0,20,0.4), 0 6px 20px 0 rgba(0, 112, 131, 0.19);
}




/***Classes***/
.content {
    margin: 0 10vw;
    display: flex;
    height: 100vh;
}
/*Left side content */
.logo {
   width: max(30vw, 24rem);
    background-image: url("images/nature.jpg"); /*photo by Francesco Ungaro*/
    background-size: cover;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.img-background {
    background-color: rgba(20,20,20,0.4);
    margin-top: 5vh;
}

.img {
    justify-content: center;
    font-family: "norse-bold";
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 7rem;
    
    
}

.copyright {
    align-self: center;
}

/*Right side content*/

.main {
    width: max(50vw, 600px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.bttn {
    padding: 1rem 2rem;
    margin: 1rem 0 0 1rem;
}

.row {
    display: flex;
    gap: 6rem;
    margin: 1rem;
}

.redirect {
    margin: 1rem;
}

/*Different layouts for different screen sizes*/

@media screen and (max-width: 500px) {

    header {
        margin: 1rem;
        width: 30vh;
    }

    label {
        margin-top: 1rem;
    }

    .content {
        flex-direction: column;
        margin: 0;
    }
    .logo  {
        height: 12rem;
        width: 100vw;
        color: #000;
    }

    .logo a {
        color: #fff;
    }

    .main {
        width: max(50vw, 500px);
        align-items: center;
    }

    .row {
        flex-direction: column;
        gap: 0;
        margin: 0;
    }

    .bttn {
        align-self: center;
        margin-left: 0.8rem;
    }

    

}

@media screen and (min-width: 401px) and (max-width: 900px) {
    .content {
        margin: 0;
    }
}
