body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
header {
    font-size: 1.2em;
    font-weight: bold;
}

form {
    width: 50vw;
    height: 70vh;
    background-image: url("nature.jpg"); /*photo by Francesco Ungaro*/
    background-size: cover;
    align-self: end;
}